<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5066c4c7-176a-42d2-8f46-a27fcabd0994/resourceGroups/adranew/providers/Microsoft.Web/sites/adranew</ResourceId>
    <ResourceGroup>adranew</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adranew.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>adranew.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>adranew</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$adranew</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="adradb" Order="1" Enabled="True">
          <Destination Path="Data Source=adraservernew.database.windows.net;Initial Catalog=adradbnew;Persist Security Info=True;User ID=Adra123;Password=Pooh1992" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DataAccessLibrary.adradb, DataAccessLibrary" MigrationConfiguration="DataAccessLibrary.Migrations.Configuration, DataAccessLibrary" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="adradb-Web.config Connection String">
      <ParameterValue>Data Source=adraservernew.database.windows.net;Initial Catalog=adradbnew;Persist Security Info=True;User ID=Adra123;Password=Pooh1992</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>